.page-header{
	margin: 0px 0px 0px 0px;
}

.bottom{
	text-align: center;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
  background-color: #ecf4df !important;
}
footer {
  padding: 10px 0;
}

h1{
	margin-top: 10px;
}

.busca{
	width: 165px !important;
	height: 36px;
}

.centralizado {
    margin: 0 auto !important;
    float: none !important;
    display: block;
}

.centralizado-texto{
	text-align: center;
}

.panel-body{
	padding: 0px;
}


.botao_acervo {
   visibility: hidden;
}

.panel-body:hover .botao_acervo {
   visibility: visible;
}

.jumbotron{
	background-color: #ccecfd;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
}

.jumbotron small{
	color: black;
}
.media-object{
	width: 128px;
	height: 70px;
	border:  3px solid #ecf4df;
}

.media-object:hover{
	border:  3px solid lightblue;	
}

.panel-heading{
	text-align: center;
}

.border-top{
	border-top: 1px solid white;
}

.border-bottom{
	border-bottom: 1px solid #008009;
}

.facebook-icon{
	height:64px;
	width:64px;
	background-image:url('/Images/social/facebook.png');
}

.flickr-icon{
	height:64px;
	width:64px;
	background-image:url('/Images/social/flickr.png');
}

.twitter-icon{
	height:64px;
	width:64px;
	background-image:url('/Images/social/twitter.png');
}

.youtube-icon{
	height:64px;
	width:64px;
	background-image:url('/Images/social/youtube.png');
}

.data{
	font-size: 12px;
	color: green;
}
.ui-widget-overlay {
	position: fixed;
}
